/* map style */
html,body {
	margin: 0px;
	padding: 0;
	height: 100%;
	font-family: Verdana;
}

#map_canvas {
	margin: 5px;
	padding: 0;
	height: auto;
}

#editLayer {
	position: absolute;
	top: 10px;
	left: 50px;
	z-index: 999;
	border-radius: 3px;
	background: #666;
	background-color: rgba(0, 0, 0, 0.3);
	filter: alpha(opacity = 60);
	color: white;
	padding: 5px;
}

#editLayer:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

#headline {
	margin: 0px;
	padding: 3px;
}

#editbox {
	height: 100px;
}